<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-6">
            <h1 class="fw-bold">Let's Contact With Us</h1>
            <p>Fill out the form below to contact our team. For partnership and business development inquiries,
                please contact us at hello@luaz.com.</p>
            <form>
                <div class="row my-4">
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Email address">
                    </div>

                </div>
                <div class="row my-4">
                    <div class="col-6">
                        <input type="text" class="form-control col-6" placeholder="Subject">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control col-6" placeholder="Phone number">
                    </div>


                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <textarea rows="4" class="form-control col-12" placeholder="Your message"></textarea>
                    </div>

                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Accept <a href="#">Term of Services</a> and <a href="#">Privacy Policy</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-md-6">
            <img src="../../../assets/images/contact.png" class="img-fluid">
        </div>
    </div>


</div>