<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-6">
            <img src="../../../assets/images/about-img1.jpg" class="img-fluid shadow-lg">
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="row ms-4 mt-3">
                <h1 class="fw-bold">About Us</h1>
                <p>Lorem ipsum dolor sit amet, con se ctetur adipiscing elit.
                     In sagittis eg esta ante, sed viverra nunc tinci dunt nec elei fend et tiram.</p>
            </div>
            <div class="row ms-4 mt-3">
                <h4 class="fw-bold">Who We Are</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                     totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div class="row ms-4 mt-3">
                <h4 class="fw-bold">Our History</h4>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                     born and I will give you a complete account of the system, and expound the actual teachings of
                      the great explorer of the truth.

                </p>
            </div>
            <div class="row ms-4 mt-3">
                <h4 class="fw-bold">Our Mission</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                     deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                      similique sunt in.

                </p>
            </div>
        </div>
    </div>
</div>