<div class="container">
    <div class="row mt-5">
        <h1 class="fw-bold text-center">Our Recent Works</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
             incididunt ut labore et dolore magna.</p>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body card-portfoilo">
                    <img src="../../../assets/images/portfoilo/works1.2eb36cc0cc8fe4ec.jpg" class="card-img-top">
                    <div class="content-text">
                        <p>Web Design</p>
                        <h3>Designing a better cinema experience</h3>
                    </div>
                    <div class="content-button">
                        <button type="button" class="button-default">View Details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body card-portfoilo">
                    <img src="../../../assets/images/portfoilo/works2.c4316c0a28fb6db8.jpg" class="card-img-top">
                    <div class="content-text">
                        <p>Web Design</p>
                        <h3>Designing a better cinema experience</h3>
                    </div>
                    <div class="content-button">
                        <button type="button" class="button-default">View Details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body card-portfoilo">
                    <img src="../../../assets/images/portfoilo/works3.79013d9263eb4cb3.jpg" class="card-img-top">
                    <div class="content-text">
                        <p>Web Design</p>
                        <h3>Designing a better cinema experience</h3>
                    </div>
                    <div class="content-button">
                        <button type="button" class="button-default">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body card-portfoilo">
                    <img src="../../../assets/images/portfoilo/works4.459c59a95d3d0054.jpg" class="card-img-top">
                    <div class="content-text">
                        <p>Web Design</p>
                        <h3>Designing a better cinema experience</h3>
                    </div>
                    <div class="content-button">
                        <button type="button" class="button-default">View Details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body card-portfoilo">
                    <img src="../../../assets/images/portfoilo/works5.0e888bf728e0eb26.jpg" class="card-img-top">
                    <div class="content-text">
                        <p>Web Design</p>
                        <h3>Designing a better cinema experience</h3>
                    </div>
                    <div class="content-button">
                        <button type="button" class="button-default">View Details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body card-portfoilo">
                    <img src="../../../assets/images/portfoilo/works6.7f05bac5049cca0a.jpg" class="card-img-top">
                    <div class="content-text">
                        <p>Web Design</p>
                        <h3>Designing a better cinema experience</h3>
                    </div>
                    <div class="content-button">
                        <button type="button" class="button-default">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>