<!-- Carousel -->
<div id="demo" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active bg-carousel">
            <img src="../../../assets/images/bg/bg1.jpg" class="" alt="Los Angeles" class="d-block" style="width:100%">
            <div class="carousel-caption">
                <h3>Los Angeles</h3>
                <p>We had such a great time in LA!</p>
            </div>
        </div>
        <div class="carousel-item bg-carousel">
            <img src="../../../assets/images/bg/bg2.jpg" class="" alt="Chicago" class="d-block" style="width:100%">
            <div class="carousel-caption">
                <h3>Chicago</h3>
                <p>Thank you, Chicago!</p>
            </div>
        </div>
        <div class="carousel-item bg-carousel">
            <img src="../../../assets/images/bg/bg3.jpeg" alt="New York" class="" class="d-block" style="width:100%">
            <div class="carousel-caption">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button> -->
</div>

<div class="container mt-3">
    <div class="row mt-5">
        <div class="col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat..</p>
        </div>
    </div>
    <hr />
    <div class="row my-5">
        <h1 class="text-center mb-2">Our Services is Equipped</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/analaysis1.png" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Analaysis & Forecosting</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..
                    </p>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/finalcial1.jpg" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Financial Option Valuation</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..</p>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/portfolio1.jpg" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Portfolio Risk Management</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row my-4">
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/analaysis1.png" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Analaysis & Forecosting</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..
                    </p>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/finalcial1.jpg" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Financial Option Valuation</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..</p>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/portfolio1.jpg" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Portfolio Risk Management</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..</p>
                </div>
            </div>
            
        </div>
    </div>

</div>