<div class="container">
    <div class="row my-5">
        <h1 class="text-center mb-2">Our Services is Equipped</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/analaysis1.png" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Analaysis & Forecosting</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..
                    </p>
                </div>
            </div>
    
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/finalcial1.jpg" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Financial Option Valuation</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..</p>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/portfolio1.jpg" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Portfolio Risk Management</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row my-4">
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/analaysis1.png" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Analaysis & Forecosting</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..
                    </p>
                </div>
            </div>
    
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/finalcial1.jpg" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Financial Option Valuation</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..</p>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card card-border">
                <div class="card-body service-card">
                    <img src="../../../assets/images/icon/portfolio1.jpg" class="card-img-top card-img1 my-3">
                    <h4 class="card-title">Portfolio Risk Management</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat..</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
